./Chatbot/venv
./Chatbot/venv/
venv/
./Chatbot/.idea
./Chatbot/.idea/
.idea/
./Chatbot/.rasa
./Chatbot/.rasa/
.rasa/
./Chatbot/__pycache__/
./Chatbot/actions/__pycache__/
./Chatbot/custom/CodeInformation/__pycache__/
